@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .moving_arrow_button div span:nth-child(1)::before {
    position: relative;
    transition: 200ms;
    transform: translate(1.5rem, -1.5rem);
  }
  .moving_arrow_button:hover div span:nth-child(1) {
    position: relative;
    transition: 200ms;
    transform: translate(1.5rem, -1.5rem);
  }
  .moving_arrow_button div span:nth-child(2)::before {
    position: relative;
    transition: 200ms;
    transform: translate(1.5rem, -1.5rem);
  }
  .moving_arrow_button:hover div span:nth-child(2) {
    position: relative;
    transition: 200ms;
    transform: translate(1.5rem, -1.5rem);
  }
}
/* -----------------------------------------------------------------------title heading text start  -----------------------------------------------------------------*/
.title_heading {
  @apply text-white font-First font-bold xl:text-[4rem] not-italic uppercase lg:text-5xl  md:text-5xl text-5xl;
}
.sub_title_heading {
  @apply text-white font-First font-normal text-[1rem] not-italic uppercase;
}
.sub_title_sm {
  @apply text-white font-First font-bold text-[1rem] not-italic leading-6;
}
.sub_title_xl {
  @apply text-white font-First font-bold text-[24px] not-italic leading-9;
}
.body_base_medium {
  @apply text-text-primary font-First font-semibold text-[14px] not-italic leading-5;
}
.base_medium {
  @apply text-text-primary font-First font-bold text-[14px] not-italic leading-normal;
}
.body_base {
  @apply text-text-primary font-First font-normal text-[14px] not-italic leading-[21px];
}
.body_xs {
  @apply text-white font-First font-medium text-[12px] not-italic leading-[18px];
}

/* -----------------------------------------------------------------------title heading text end  -----------------------------------------------------------------*/

/* ----------------------------------------------------------------------- swiper style start -----------------------------------------------------------------  */
* {
  --swiper-pagination-bullet-inactive-color: #4f46e5;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-progress {
  position: absolute;
  right: 0px;
  bottom: 5px;
  z-index: 10;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 2px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  top: 12% !important;
  color: #4f46e5 !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 17px !important;
}

/* -----------------------------------------------------------------------swiper style end-----------------------------------------------------------------*/

.who_we_are_shadow {
  box-shadow: 0px 0px 60px 10px rgba(11, 82, 235, 0.1) inset;
}

.common_border {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* - - - - - - - - - - - - -- - animation delay for container  - - - - - - - - - - - - -- - - -- - - -        */

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
